*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 10px;

}

#iconeLogo{
    display: flex;
    justify-content: space-around;
}

#iconeLogo img{
    width: 40px;
    margin-right: 5px;
}

#input-seach input{
    color:gray ;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px ;
    column-gap: 10px;
    padding: 30px;
    justify-items: center;
}
.cardVideo{
    width: 100%;
    border: 1px solid rgb(12, 12, 12);

}

.cardVideo video{
    width: 100%;
}

main a{
    text-decoration: none;
}

main>a>div:hover {
    background-color: rgba(190, 184, 184, 0.637);
}

.cardVideo h2{
    font-size: 20px;
    padding: 15px;
    color: black;

}

footer{
    background-color: gray;
    padding: 20px;
    text-align: center;
    color: white;
}

#video{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#video video{
    width: 80%;
    margin-bottom: 10px;
    
}

#video button{
    width: 45px;
}

.titulo{
    padding: 20px;
}

@media (max-width:650px) {
    main{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:500px) {
    header{
        position: fixed;
        top: 0;
        width: 100%;
    }

    header h1{
        font-size: 1.3em;
    }

    #iconeLogo img{
        width: 20px;
        margin-right: 5px;
    }

    main{
        display: block;
        padding: 10px 15px;
        margin-top: 40px;
    }

    .cardVideo{
        margin: 15px 0 ;
    }
    
}
