*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:mediumvioletred;
    
}

header button{
    padding: 5px;
    font-weight: bold;
}

main{
    display: flex;
    background-color: #f2d0e0;

}

nav{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    padding: 10px;
    padding-right: 5px;
    
    
}

.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.menu>div{
    display: flex;
    align-items: center;
}

nav .menu a{
    padding: 5px;
    padding-left: 15px;
    text-decoration: none;
    color: #222;
}

.menu img{
    width: 20px;
    height: 20px;
}

#home{
    justify-self: start;
}

#containerProdutos{
    width: 75%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
   
    background-color: white;
    
}

.produtos{
    width: 90%;
    height: auto;
    margin: 10px;
    box-shadow: 2px 2px 5px gray;
    
}

.imgProduto{
    width: 100%;
    height: 100%;

}

.imgProduto img{
    width: 100%;
    height: 100%;

}

.textoProdutos{
    text-align: center;
}

.produtos .textoProdutos, h3,p{
    padding: 5px;
}

.produtos p{
    font-size: 80%;
}

footer{

    background-color: mediumvioletred;
    width: 100vw;
    padding: 10x;
    text-align: center;
    font-weight: bold;
}

