*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
}

nav{
    width: 100%;
    height: auto;
    padding: 10px;
    border-top:1px solid rgb(53, 53, 53);
    border-bottom:1px solid rgb(53, 53, 53);

}
nav a{
    text-decoration: none;
    color: rgb(53, 53, 53);
    padding: 10px;
    font-weight: bold;
}

nav a:hover{
    background-color: rgba(66, 64, 64, 0.397);
}



#containerProjeto{
    display: flex;
    padding: 30px;
    width: 100%;
}

.imgSite{
    width: 60%;
}

.imgSite img{
    width: 100%;
}

.info{
    width: 40%;
    padding:  0 20px;
}
.info ul{
    list-style-position: inside;
    margin-bottom: 20px;
}

.info button{
    padding: 5px;
}

.atual{
    background-color: rgba(66, 64, 64, 0.397);
}

@media(max-width:680px){
    #containerProjeto{
        flex-direction: column;
    }

    .imgSite{
        width: 90%;
    }
    .info{
        width: 90%;
        padding:  0 20px;
    }

    nav a{
        padding: 3px;
    }
}
