*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header{
    height: 50vh;
    background-image: linear-gradient(135deg, #314755, #26a0da);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: none;
}

nav{
    text-align: center;
    padding-bottom: 30px ;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
}

header a:hover{
    background-color: #a7afb475;
    
}

#textoInicial{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}

#textoInicial{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#textoInicial h1{
    font-size: 2.8rem;
}

#dev{
    font-size: 2rem;
}

#sobremim{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    height: auto;
}

#imageInicial{ 
    width: 50vw;
    max-width: 500px;
    height: 500px;
    background-image: url(images/perfil1.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#txtsobremim{
    width: 50vw;
    padding: 20px;
}

#projetos{
    text-align: center;
}

#gridprojetos{
   width: 90%;
   height: auto;
   border: 1px solid black;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   margin: 20px auto;
}

.cardProject{
    width: 90%;
    height: 200px;
    background-color: #314755;
    margin: 10px auto ;
   border: 1px solid black;

}
