*{
    padding: 0%;
    margin: 0px;
}
main{
    text-align: center;
    padding: 20px;

}

main h2{
    margin: 0px;
}
section{
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 20px;

}

section div{
    border: 1px solid black;
    padding: 20px;
}